:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Amatic SC",sans-serif;
}

section {
    border: solid;
    border-width: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.content {
    margin-left: 15px;
    margin-top: 5px;
    align-items: center;
}

.page {
    float: left;
    width: 50%;
    margin-bottom: 5px;
}

.column {
    float: left;
    margin-bottom: 5px;
}

.left {
    width: 33%;
}

.right {
    width: 67%;
}

@media (max-width: 1000px) {
    .page {
        width: 100%;
    }
}

h1 {
    background-color: black;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 18pt;
}

h2 {
    margin-top: -3px;
    margin-bottom: 2px;
    margin-right: 2px;
    font-size: 16pt;
}

h3 {
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12pt;
}

img {
    width: 275px;
    height: 165px;
}

#bold {
    font-weight: bold;
    float: left;
    margin-right: 2px;
}

#invisible {
    color: white;
    font-size: 1px;
}

#quote {
    font-style: italic;
}

p {
    margin-bottom: 1px;
    margin-top: 0px;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}